body
{
background:url(images/bg.jpg) repeat-x top #fff;
font-family:Arial, Helvetica, sans-serif;
padding:0;
font-size:12px;
margin:0px auto auto auto;
color:#000000;
}
body.details{
background:url(images/bg2.jpg) repeat-x top #fff;
}
a{
color:#f36d21;
text-decoration:none;
}
.clear{
clear:both;
}
h1{
color:#966093;
font-size:24px;
font-weight:bold;
padding:15px 0 15px 0;
margin:0px;
clear:both;
}
h1.orange{
color:#cd9543;
}
h2{
color:#cd9544;
font-size:18px;
font-weight:bold;
padding:15px 0 15px 0;
margin:0px;
clear:both;
}
p{
padding:5px 0 5px 0;
margin:0px;
text-align:justify;
line-height:19px;
}
.wrap{
width:960px;
margin:auto;
}
.header{
width:960px;
height:171px;
background:url(images/header_bg.jpg) no-repeat left;
}
.logo{
padding:64px 0 0 64px;
float:left;
}
/*-----------------------------menu-------------------*/
#menu{
width:600px;
float:right;
text-align:right;
padding:15px 10px 0 0;
margin:0px;
}
#menu ul{
display:block;
list-style:none;
margin:0px;
}
#menu ul li{
display:inline;
padding:0px;
margin:0px;
}
#menu ul li a{
width:100px;
height:28px;
display:block;
padding:0px;
margin:0 4px 0 4px;
float:left;
text-decoration:none;
text-align:center;
color:#fff;
font-size:13px;
line-height:28px;
}
#menu ul li.selected a{
width:100px;
height:28px;
display:block;
padding:0px;
margin:0 4px 0 4px;
float:left;
text-decoration:none;
text-align:center;
color:#fff;
font-size:13px;
line-height:28px;
background:url(images/menu_bt_a.gif) no-repeat center;
}
#menu ul li a:hover{
background:url(images/menu_bt_a.gif) no-repeat center;
}
/*--------------home_center_content-----------------*/
.home_center_content{
width:100%;
overflow:hidden;
margin:4px 0 0 10px;
padding:0px;
height:341px;
}
.box1{
width:100%;
overflow:hidden;
margin-bottom:-165px;
}
.center_text{
width:430px;
height:330px;
float:left;
display:inline;
margin:20px 0 0 10px;
}
.center_text p{
color:#FFFFFF;
line-height:21px;
}
.big_title{
font-size:36px;
color:#FFFFFF;
padding:0 0 10px 0;
}
.big_title span{
font-weight:bold;
color:#966093;
}
.center_button_icons{
width:450px;
overflow:hidden;
margin:6px 0 0;
padding:0 0 0 5px;
}
.center_button_icons li{
width:106px;
float:left;
overflow:hidden;
padding:0px 12px 0;
text-align:center;
}
.center_button_icons li a{
font-size:10px;
text-decoration:none;
}
.center_button_icons li a:hover{
color:#99FFFF;
}
.right_img{
float:left;
width:384px;
height:281px;
text-align:center;
padding:10px 0 0 0;
background:url(images/photo_frame.jpg) no-repeat center;
display:inline;
margin:16px 0 0 48px;
}

/*--------------main_content-----------------*/
.main_content{
width:960px;
clear:both;
padding:0 0 30px 0;
background:url(images/main_content_bg.jpg) no-repeat center top #fff;
}
.left_content{
width:415px;
float:left;
padding:20px 0 0 50px;
}
.right_content{
width:415px;
float:left;
padding:20px 0 0 40px;
}
.wide_content{
width:850px;
float:left;
padding:20px 0 0 50px;
}
.newsletter{
padding:15px 0 0 40px;
}
input.input{
width:210px;
height:19px;
float:left;
border:1px #dfc99e solid;
background-color:#f4ebda;
color:#c17d2a;
font-style:italic;
font-size:13px;
margin:3px 0 0 0;
padding:2px 0 0 5px;
}
input.subscribe{
float:left;
padding:0 0 0 10px;
}
.project_box{
width:381px;
margin:10px;
}
img.feat_project{
border:3px #c9c9c9 solid;
}
.project_details{
border-bottom:1px #9c9c9c dotted;
padding:5px 0 5px 0;
float:left;
}
span.left{
float:left;
display:block;
}
a.view{
float:right;
text-decoration:none;
color:#f36d21;
}
.news_box{
float:left;
width:390px;
clear:both;
padding:0 0 20px 0;
}
img.news_thumb{
float:left;
}
.news_content{
width:305px;
float:left;
padding:0 0 0 15px;
}
.principles_box{
float:left;
width:410px;
clear:both;
padding:0 0 5px 0;
margin:0 0 20px 0;
border-bottom:1px #cbccce dotted;
}
img.principles_thumb{
float:left;
padding:5px 0 0 0;
}
.principles{
width:290px;
float:left;
padding:0 0 0 15px;
}
img.big_pic{
padding:20px 0 0 0;
}
/*---------------------services_list-------*/
.services_list{
float:left;
padding:0px;
}
.services_list ul {
list-style:none;
padding:0;
margin:0px;
}
.services_list ul li{
padding:6px 0 6px 0;
margin:0px;
width:382px;
height:28px;
line-height:28px;
background:url(images/list_bg.gif) no-repeat center;
}
.services_list ul li span{
color:#4f2756;
font-weight:bold;
}
.services_list ul li a{
text-decoration:none;
padding:0 0 0 10px;
font-size:12px;
margin:0px;
color:#6c7b81;
}
.services_list ul li a:hover{
color:#000000;
}
/*---------------contact_form------------------*/
.contact_form{
float:left;
padding:10px 0 20px 0;
}
.form_row{
width:360px;
clear:both;
padding:12px 0 12px 0;
color:#a53d17;
}
label.contact{
width:85px;
float:left;
font-size:14px;
font-weight:bold;
text-align:right;
padding:4px 15px 0 0;
color: #868788;
}
input.contact_input{
width:250px;
height:21px;
float:left;
border:1px #dfc99e solid;
background-color:#f4ebda;
color:#3596c5;
font-size:13px;
margin:3px 0 0 0;
padding:3px 0 0 5px;
}
textarea.contact_textarea{
width:250px;
height:120px;
float:left;
border:1px #dfc99e solid;
background-color:#f4ebda;
color:#3596c5;
font-size:13px;
margin:3px 0 0 0;
padding:2px 0 0 5px;
}
input.send{
cursor:pointer;
float:right;
padding:4px 5px 4px 10px;
}

.employe_box_left{
float:left;
width:180px;
line-height:25px;
margin:20px 0 0 0;
border-right:1px #CCCCCC dotted;
}
.employe_box_right{
float:left;
width:180px;
line-height:25px;
margin:20px 0 0 40px;
}
.contact_info{
float:left;
padding:5px 0 0 0;
}
/*--------------------footer-------------*/
.footer{
width:100%;
background:url(images/footer_bg.gif) repeat-x top;
}
.footer_content{
width:960px;
margin:auto;
padding:0 0 30px 0;
}
.footer_tab1{
width:285px;
float:left;
padding:0 0 0 30px;
}
span.email{
background:url(images/mail_icon.gif) no-repeat left;
padding:0 0 0 45px;
line-height:25px;
height:23px;
display:block;
}
.footer_info{
float:left;
padding:5px 0 10px 0;
}
p.info{
width:225px;
float:left;
padding:0 0 0 10px;
}
p.info_contact{
width:325px;
float:left;
padding:0 0 0 10px;
}
span.orange{
color:#f36d21;
float:left;
}
span.blue{
color:#58a2d3;
font-size:14px;
font-weight: bold;
}
.footer_copyrights{
clear:both;
border-top:1px #9c9c9c dotted;
color:#c5c7c8;
padding:10px 0 10px 0;
}
.footer_tab2{
width:350px;
float:left;
padding:0 0 0 40px;
}
.favorites_box{
float:left;
padding:5px 0 10px 0;
}
p.favorites{
width:290px;
float:left;
padding:0 0 0 10px;
margin:0px;
}
span.fav_nr{
width:37px;
height:37px;
color:#e6643a;
font-size:24px;
text-align:center;
font-weight:bold;
line-height:37px;
background:url(images/favorites_box.gif) no-repeat center;
float:left;
}
.footer_tab3{
width:150px;
float:left;
padding:0 0 0 30px;
}
.footer_links{
float:left;
padding:0px;
}
.footer_links ul {
list-style:none;
padding:0;
margin:0px;
}
.footer_links ul li{
padding:6px 0 6px 0;
margin:0px;
width:150px;
border-bottom:1px solid #e2e2e2;
}
.footer_links ul li a{
text-decoration:none;
padding:0;
font-size:12px;
margin:0px;
color:#6c7b81;
}
.footer_links ul li a:hover{
color:#000000;
}

/*ni aku punya(amir)*/
.container {
    margin-top:200px;

    background:#ddd;
    margin:20px auto;
    padding:20px;
    position:relative;
    width:700px;

    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;

    box-shadow:1px 1px 5px #111;
    -moz-box-shadow:1px 1px 5px #111;
    -webkit-box-shadow:1px 1px 5px #111;
}

/* css3 photo gallery styles */
.gallery {
    width:610px;
    margin:0 auto;
}
.gallery a {
    display:inline-block;
    height:150px;
    position:relative;
    width:200px;
}
.gallery a img {
    border:5px solid #fff;
    cursor:pointer;
    display:block;
    height:100%;
    left:0px;
    position:absolute;
    top:0px;
    width:100%;
    z-index:1;

    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;

    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;

    -webkit-transition-property:width, height, top, bottom, left, right, z-index, border;
    -webkit-transition-duration:0.5s;
    -moz-transition-property:width, height, top, bottom, left, right, z-index, border;
    -moz-transition-duration:0.5s;
    -o-transition-property:width, height, top, bottom, left, right, z-index, border;
    -o-transition-duration:0.5s;
    transition-property:width, height, top, bottom, left, right, z-index, border;
    transition-duration:0.5s;
}
.gallery a:focus img {
    border:15px solid #fff;
    cursor:default;
    height:250%;
    position:absolute;
    width:250%;
    z-index:25;

    box-shadow:1px 1px 5px #888;
    -moz-box-shadow:1px 1px 5px #888;
    -webkit-box-shadow:1px 1px 5px #888;
    -webkit-transition-property:width, height, top, bottom, left, right, z-index, border;
    -webkit-transition-duration:0.5s;
    -moz-transition-property:width, height, top, bottom, left, right, z-index, border;
    -moz-transition-duration:0.5s;
    -o-transition-property:width, height, top, bottom, left, right, z-index, border;
    -o-transition-duration:0.5s;
    transition-property:width, height, top, bottom, left, right, z-index, border;
    transition-duration:0.5s;
}

/* custom focus rules */
.gallery a:focus:nth-child(3n+1) img {
left:150px;
}
.gallery a:focus:nth-child(3n+2) img {
    left:-50px;
}
.gallery a:focus:nth-child(3n+3) img {
    left:-250px;
}
.gallery a:focus:nth-child(-n+3) img {
    top:140px;
}
.gallery a:focus:nth-child(n+7) img {
    top:-150px;
}
.gallery a:focus:nth-child(n+10) img {
    top:-295px;
}

/* extra close layer */
.gallery .close {
    background:transparent;
    cursor:pointer;
    display:none;
    height:352px;
    left:170px;
    position:absolute;
    top:160px;
    width:500px;
    z-index:30;
}
.gallery a:focus ~ .close {
    display:block;
}

.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fff6af;
	box-shadow:inset 0px 1px 0px 0px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#ffec64;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:2px 14px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;
}
.myButton:active {
	position:relative;
	top:1px;
}

.main_content1{
width:960px;
clear:both;
padding:0 0 30px 0;
/*background:url(images/main_content_bg.jpg) no-repeat center top #fff;*/
}